.first{
    color:white;
    background-color: #1F2937;
    }

    
.second{
    background-color: white;
    
}

.third{
    background-color: #E5E7EB;
}

.fourth{

}

footer{
    background-color: #1F2937;
    color: white;
}